:root{
    --hover-color-yellow:rgb(219, 234, 5); 
}

nav {
    display: flex;
    background-color: rgb(5, 5, 73);
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
nav h1 {
    margin: 0 0 0 0.5rem;
    color: white;
}
nav svg{
    display: none;
    color: white;
}
nav svg:hover{
    color: var(--hover-color-yellow);
    border: 1px solid white;
    border-radius: 25%;
    cursor: pointer;
}
ul {

    margin:0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

ul li{

    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: white;
    transition: transform 0.2s ease;
}

ul li:hover {
    color:var(--hover-color-yellow);
    cursor: pointer;
    transform: scale(1.5);
    text-decoration: underline;
}

@media screen and (max-width: 800px){
    nav {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
 
    nav svg {
        display: unset;
    
    }
    nav h1{
        margin:  auto;
    }
}